[tool.pytest.ini_options]
markers = [
    "pipeline_test: marks tests as test which can be run in the pipeline (deselect with '-m \"not pipeline_test\"')",
    "consistent: marks tests that check consistency of results, i.e. may vary for different machines (deselect with '-m \"not consistent\"')"
]

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F", "I001"]
ignore = ["E721", "E731", "F722", "F821"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"conf.py" = ["F401", "I001"]